@import "_null";
@import "_fonts";
@import "_constants";
@import "swiper-bundle.min";

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

body {
  margin: 3rem 0 0 0;
  font-family: "OpenSans-Regular";
  font-size: 0.938rem;
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 500;
  font-family: "Raleway-Medium";
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  &__logo,
  &__toggle {
    color: #fff;
    cursor: pointer;
  }

  &__logo {
    font-size: 20px;
    font-weight: var(--font-semi-bold);
  }

  &__toggle {
    display: block;
    font-size: 1.2rem;
  }

  &__menu {
    position: relative;
  }

  &__list {
    display: flex;
    display: none;
  }

  &__item {
    margin-left: 35px;
  }

  &__link {
    text-transform: uppercase;
  }

  &__link {
    color: #fff;
  }

  &__close {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    &__toggle {
      display: block;
      font-size: 1.2rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
    }

    &__menu {
      position: fixed;
      background-color: var(--body-color);
      top: 0;
      right: -100%;
      width: 70%;
      height: 100%;
      box-shadow: -1px 0 4px hsla(190, 64%, 15%, 0.15);
      padding: 3rem;
      transition: 0.4s;
    }

    &__link {
      color: var(--text-color);
    }

    &__close {
      display: block;
      position: absolute;
      top: 0.75rem;
      right: 1rem;
      font-size: 1.5rem;
      color: var(--title-color);
      cursor: pointer;
    }
  }
}

/* SHOW MENU */

.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px hsla(190, 64%, 15%, 0.15);

  & .nav__logo,
  & .nav__toggle {
    color: var(--title-color);
  }
}

.home {
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 83%;
  }

  &__container {
    position: relative;
    height: calc(100vh - 3rem);
    align-content: center;
    row-gap: 3rem;
  }

  &__data-subtitle,
  &__data-title,
  &__social-link,
  &__info {
    color: #fff;
  }

  &__data-subtitle {
    display: block;
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.75rem;
  }

  &__data-title {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
  }

  &__social {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__social-link {
    font-size: 1.2rem;
    width: max-content;
  }

  &__info {
    background-color: var(--first-color);
    display: flex;
    padding: 1.5rem 1rem;
    align-items: center;
    column-gap: 0.5rem;
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: 228px; //?
  }

  &__info-title {
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.75rem;
  }

  &__info-button {
    font-size: var(--smaller-font-size);
  }

  &__info-overlay {
    overflow: var(--img-hidden);
  }

  &__info-img {
    width: 145px;
    transition: var(--img-transition);
  }

  &__info-img:hover {
    transform: var(--img-scale);
  }
}

.button {
  display: inline-block;
  background-color: var(--first-color-second);
  color: #fff;
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
  &:hover {
    background-color: var(--first-color-alt);
  }
  &--flex {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
  }

  &--link {
    background: none;
    padding: 0;
    &:hover {
      background: none;
    }
  }
}

/*------- -ABOUT-------- */

.about {
  &__data {
    text-align: center;
  }

  &__container {
    row-gap: 2.5rem;
  }

  &__description {
    margin-bottom: var(--mb-2);
  }

  &__img {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  &__img0overlay {
    overflow: hidden;
  }

  &__img-one {
    width: 130px;
  }

  &__img-two {
    width: 180px;
  }

  &__img-one,
  &__img-two {
    transition: var(--img-transition);
    &:hover {
      transform: var(--img-scale);
    }
  }
}

/*------- DISCOVER------- */

.discover {
  &__card {
    position: relative;
    width: 300px; //200
    overflow: hidden;
  }

  &__data {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
  }
  &__title,
  &__description {
    color: #fff;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 0.25rem;
  }

  &__description {
    display: block;
    font-size: 1rem;
  }

  &__img {
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.mySwiper-3d .swiper-slide-shadow-left,
.mySwiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

/*----- EXPERIENCE------ */

.experience {
  &__container {
    row-gap: 2.5rem;
    justify-content: center;
    justify-items: center;
  }

  &__content {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 1rem;
    padding: 0 2rem;
  }

  &__number {
    font-size: var(--h2-font-size);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: 0.875rem;
  }

  &__img {
    position: relative;
    padding-bottom: 2rem;
  }

  &__overlay:nth-child(1) {
    width: 263px;
    margin-right: 2rem;
  }

  &__overlay:nth-child(2) {
    width: 120px;
    position: absolute;
    top: 2rem;
    right: 0;
  }

  &__img-one,
  &__img-two {
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__overlay {
    overflow: hidden;
  }
}

/*------ VIDEO------ */

.video {
  &__container {
    padding-bottom: 1rem;
  }

  &__description {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__content {
    position: relative;
  }

  &__button {
    position: absolute;
    right: 1rem;
    bottom: -1rem;
    padding: 1rem 1.5rem;
  }

  &__button-icon {
    font-size: 1.2rem;
  }
}

/*-----PLACES------*/

.place {
  &__card,
  &__img {
    height: 230px;
  }

  &__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
  }

  &__card {
    position: relative;
    overflow: hidden;
    &:hover .place__img {
      transform: scale(1.1);
    }
  }

  &__content,
  &__title {
    color: #fff;
  }

  &__img {
    transition: 0.3s;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem 0.75rem 1rem;
  }

  &__rating {
    align-self: flex-end;
    display: flex;
    align-items: center;
  }

  &__rating-icon {
    font-size: 0.75rem;
    margin-right: 0.25rem;
  }

  &__rating-number {
    font-size: var(--small-font-size);
  }

  &__title,
  &__subtitle {
    display: block;
  }

  &__data {
  }

  &__title {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  &__subtitle {
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
  }

  &__price {
  }

  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.75rem 1rem;
  }
}

/*----- SUBSCRIBE-------- */

.subscribe {
  &__bg {
    background-color: var(--first-color-second);
    padding: 2.5rem 0;
  }

  &__title,
  &__description {
    color: #fff;
  }

  &__description {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__form {
    background-color: var(--input-color);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 70%;
    padding-right: 0.5rem;
    background-color: var(--input-color);
    color: var(--text-color);
    &::placeholder {
      color: var(--text-color);
    }
  }
}

/*-------- SPONSOR------- */

.sponsor {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    justify-items: center;
    row-gap: 3.5rem;
  }

  &__content {
    &:hover .sponsor__img {
      filter: invert(0.5);
    }
  }

  &__img {
    width: 90px;
    filter: invert(0.7);
    transition: 0.3s;
  }
}

/*----------FOOTER----------*/

.footer {
  &__container {
    row-gap: 5rem;
  }

  &__content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }

  &__title,
  &__subtitle {
    font-size: 1rem;
  }

  &__data {
  }

  &__title {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  &__description {
    margin-bottom: 2rem;
  }

  &__social {
    font-size: 1.25em;
    color: var(--title-color);
    margin-right: 1.25rem;
  }

  &__subtitle {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__item {
    margin-bottom: 0.75rem;
  }

  &__link {
    color: var(--text-color);
    &:hover {
      color: var(--title-color);
    }
  }

  &__rights {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
  }

  &__copy,
  &__terms-link {
    font-size: 0.875rem;
    color: var(--text-color);
  }

  &__copy {
  }

  &__terms {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
  }

  &__terms-link {
    &:hover {
      color: var(--text-color);
    }
  }
}
